
body{
    background-image: url('https://cdn.pixabay.com/photo/2017/10/22/20/39/food-2879202_960_720.jpg') ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#recipeForm{
    display: inline;
}


#recipeFormHolder{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: auto;
    font-family: 'The Girl Next Door', cursive;
    font-size: 20px;
    color: rgb(11,72,107);
}


#newUserFormHolder{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: auto;
    font-family: 'The Girl Next Door', cursive;
    font-size: 20px;
    color: rgb(11,72,107);
}

.formInput {
    width: 20rem;
    height: 20px;
    
}

header{
    height: 50px;
    width: 100%;
    background: rgba(121, 189, 154, 0.5);
    font-family: 'The Girl Next Door', cursive;
    font-size: 35px;
}

nav {
    display: flex;
    width: 100%;
    list-style: none;
    color: rgb(207,240,158);
}

a:hover{
    cursor: pointer;
}

nav > li{
    padding-left: 80px;  
}

a{
    text-decoration: none;
    color: rgb(59,134,134);
}



#recipeIngredient{
height: 5rem;
}

#recipeInstructions{
    height: 10rem;
}

.recipeCard{
    display: block;
    text-align: center;
    border-style: outset;
    border-color: rgba(207,240,158);
    border-radius: 10px;
    background: rgba(121, 189, 154, 0.5);
    color: rgb(11,72,107);
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
}

#recipeCard > img {
    width: 80%;
   
}

#recipeSubmitButton{
    background: rgba(121, 189, 154, 0.5);
    border-style: outset;
    border-color: rgba(207,240,158);
    border-radius: 10px;
    color: rgb(11,72,107);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'The Girl Next Door', cursive;
    font-size: 20px;
    height: 55px;
}

h3{
    font-family: 'The Girl Next Door', cursive;
    font-size: x-large;
 }

i {
    border: solid rgb(11,72,107);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

ul{
    list-style-type: none;
}

/* .recipeCard >  */
img{
    height: 200px;
    border-radius: 50px;
    padding: 15px;
}

#recipeCardHolder{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(4, 24%);
    column-gap: 30px;
    padding-top: 5rem;
}

#userCardHolder{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(3, 32%);
    column-gap: 30px;
    padding-top: 5rem;
}
#userCard{
    display: block;
    text-align: center;
    border-style: outset;
    border-color: rgba(207,240,158);
    border-radius: 10px;
    background: rgba(121, 189, 154, 0.5);
    color: rgb(11,72,107);
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
}

#newUserFormHolder{
    display: none;
}

h4{
    cursor: pointer;
}
#instructions{
    display: none;
}

#ingredientList{
    display: none;
}

#deleteRecipeButton{
    display: none;
    background: rgba(59,134,134, 0.5);
    border-style: outset;
    border-color: rgba(207,240,158);
    border-radius: 10px;
    color: rgb(11,72,107);
    text-decoration: none;
    height: 30px;
    cursor: pointer;
    font-family: 'The Girl Next Door', cursive;
    font-size: 15px 
}

#editRecipeButton{
    display: none;
    background: rgba(59,134,134, 0.5);
    border-style: outset;
    border-color: rgba(207,240,158);
    border-radius: 10px;
    color: rgb(11,72,107);
    text-decoration: none;
    height: 30px;
    cursor: pointer;
    font-family: 'The Girl Next Door', cursive;
    font-size: 15px;
    
}

#recipeButtonHolder{
    display: flex;
    justify-content: space-around;
}

#submitRecipeChangesButton{
    display: none;
}

#menuForm{
display: flex;

}

#menuForm > p {
    padding-left: 3rem;
}

label{
    font-family: 'The Girl Next Door', cursive;
    font-size: 20px;
    color: rgb(11,72,107);
    padding-right: 20px;
}

#menuSubmitButton{
    background: rgba(121, 189, 154, 0.5);    
    border-style: outset;
    border-color: rgba(207,240,158);
    border-radius: 10px;
    color: rgb(11,72,107);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'The Girl Next Door', cursive;
    font-size: 20px;
    height: 55px;
  }

select{
    background: rgba(121, 189, 154, 0.5);
    color: rgb(11,72,107);
    padding: 12px;
    border-style: outset;
    border-color: rgba(207,240,158);
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    height: 60px;
    outline: none;
    font-family: 'The Girl Next Door', cursive;
}

#menuContainer{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(4,24%);
    column-gap: 30px;
    padding-top: 5rem;
}

#menuCard{
    display: block;
    text-align: center;
    border-style: outset;
    border-color: rgba(207,240,158);
    border-radius: 10px;
    background: rgba(121, 189, 154, 0.5);
    color: rgb(11,72,107);
    font-family: 'The Girl Next Door', cursive;
    font-size: 18px;
  
}

#menuCard > img {
    width: 80%;
   
}

#showRecipeIngredients{
    display: none;
    font-family: 'Raleway', sans-serif;
}
#recipeIngredient{
    display: none;
}

#deleteMenuButton{
    display: none;
    background: rgba(59,134,134, 0.5);
    border-style: outset;
    border-color: rgba(207,240,158);
    border-radius: 10px;
    color: rgb(11,72,107);
    text-decoration: none;
    height: 30px;
    cursor: pointer;
    font-family: 'The Girl Next Door', cursive;
    font-size: 15px; 
    margin-left: 120px;
    margin-bottom: 20px;
}

#showRecipeInstructions{
    display: none;
    font-family: 'Raleway', sans-serif;
}
